@font-face {
  font-family: $font;
  src: url("../../../public/fonts/SimpleMichael.woff2") format("woff2"),
    url("../../../public/fonts/SimpleMichael.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
